<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Auto Quiz - Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='a.css') }}">
</head>

<body>
  <div id="loading_screen">
    <p>Creating file...</p>
    <img src="{{ url_for('static', filename='assets/loader.gif') }}" alt="loading">
  </div>
  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="{{ url_for('home_pdf') }}">PDF</a></li>
      <li>
        <a href="{{ url_for('home') }}">Home<br /></a>
      </li>
      <li><a href="about.html">ABOUT</a></li>
    </ul>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
  <div class="container">
    <h1>AUTO QUIZ</h1>
    <form method="POST" id="data_form">
      <div class="form-box">
        <input type="text" name="file_name" placeholder="File name" required /><br />
        <input type="number" min="1" max="100" name="num_questions" placeholder="Number of questions (1-100)" required /><br />
        <div class="options">
          <div class="option-box radio-detailed">
            <label>DETAIL LEVEL</label>
            <label class="radio-label"><input type="radio" name="detail" value="Detailed" required />Detailed</label>
            <label class="radio-label"><input type="radio" name="detail" value="Less Detailed" />Less Detailed</label>
          </div>
          <div class="option-box radio-language">
            <label>LANGUAGE</label>
            <label class="radio-label"><input type="radio" name="language" value="English" required />English</label>
            <label class="radio-label"><input type="radio" name="language" value="Vietnamese" />Vietnamese</label>
          </div>
          <div>
            <button id="generateButton" type="submit">Generate</button>
          </div>
        </div>
    </form>

    <script>
      const generateButton = document.getElementById("generateButton");
      const resultDisplay = document.getElementById("resultDisplay");
      const loading = document.getElementById("loading_screen");

      document.getElementById('data_form').addEventListener('submit', function (event) {
        event.preventDefault();

        loading.style.display = "flex"

        const formData = new FormData(event.target);
        fetch('/get_form_data', {
          method: 'POST',
          body: formData
        }).then(response => response.json())
          .then(data => {
            console.log(data)
            window.location.href = "/result";
          })
          .catch(error => console.error('Error:', error));
      });
    </script>


</body>

</html>